<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 属性:用于指定当前的映射文件和哪个接口进行映射 -->
<mapper namespace="com.cy.store_.mapper.TUserMapper">
<!--  resultMap ： 自定义映射规则-->
    <resultMap id="BaseResultMap" type="com.cy.store_.entity.User">
        <id property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="CHAR"/>
        <result property="salt" column="salt" jdbcType="CHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedUser" column="modified_user" jdbcType="VARCHAR"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>


<!--    &lt;!&ndash;    id属性: 表示映射的接口中的方法名称    &ndash;&gt;-->
<!--    <insert id="inset">-->
<!--        insert into t_user (username,-->
<!--                            password,-->
<!--                            salt,-->
<!--                            phone,-->
<!--                            email,-->
<!--                            gender,-->
<!--                            avatar,-->
<!--                            is_delete,-->
<!--                            created_user,-->
<!--                            created_time,-->
<!--                            modified_user,-->
<!--                            modified_time)-->
<!--        VALUES (#{username},-->
<!--                #{password},-->
<!--                #{salt},-->
<!--                #{phone},-->
<!--                #{email},-->
<!--                #{gender},-->
<!--                #{avatar},-->
<!--                #{isDelete},-->
<!--                #{createdUser},-->
<!--                #{createdTime},-->
<!--                #{modifiedUser},-->
<!--                #{modifiedTime})-->
<!--    </insert>-->

<!--    <select id="findByUsername" resultMap="BaseResultMap">-->
<!--        select * from t_user where username = #{username};-->
<!--    </select>-->

<!--    <select id="findAll" resultMap="BaseResultMap">-->


<!--    </select>-->

    <!--    <sql id="Base_Column_List">-->
    <!--        uid,username,password,-->
    <!--        salt,phone,email,-->
    <!--        gender,avatar,is_delete,-->
    <!--        created_user,created_time,modified_user,-->
    <!--        modified_time-->
    <!--    </sql>-->
</mapper>
